{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> News Sources </title>
    {% endif %}

</head>

<body>
    {% block styles%}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css')}}">
    {% endblock %}
    <!-- Content block -->
    {% block content %}
    <h1 align="center"> NEWS HEADLINES </h1>
    <div class="container">
        <div class="row">
            <p>
                {% for article in article %}
                <!-- print source here -->
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-">
                    <p class="text-center">
                        <a href="{{article.url}}">
                            <img src="{{ article.urlToImage }}" class="img-responsive"></a></p>
                    <p class="text-center">{{ article.description|truncate(250)}}</p>
                    <p class="text-center">published on {{ article.publishedAt|truncate(20)}}</p>
                    <a href="{{article.url}}" target="blank_" class="btn btn-info" role="button">website</a>

                </div>


                {% endfor %}
            </p>
        </div>
    </div>

    {% endblock %}
</body>

</html>